body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

header {
    background-color: #1F74BA;
    padding: 10px;
    margin: 0;
}

.header-container {
    height: auto;
    display: grid;
}

.header-container {
    display: grid;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.site-name {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

/* dashboard */
.container {
    display: grid;
    grid-template-areas:
        "sidebar main-content";
    grid-template-columns: 250px 1fr;
    height: 100vh;
    height: calc(100vh - 60px);
}

.sidebar {
    grid-area: sidebar;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    overflow-y: auto;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #1F74BA;
    color: #ffffff;
}

.sidebar ul li a.active {
    background-color: #1F74BA;
    color: #ffffff;
}


.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar .account {
    margin-top: auto;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidebar .account i {
    margin-right: 10px;
}

